
<h3>Sign up your dog to be walked!</h3>
<form action="/signupDog" method="post">

    Your Name: <input type="text" name="ownerName">
    Your Email:  <input type="email" name="email">
    Dog Location:
    <select name="location">
      <option value="cbd">City Centre</option>
      <option value="north">North Shore</option>
      <option value="east">East Auckland</option>
      <option value="south">South Auckland</option>
      <option value="west">West Auckland</option>
    </select>
    Dog Name: <input type="text" name="name">
    Dog Size:
    <select name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select> 
    Dog Gender:
    <select name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select> 
    Dog Breed:
    <select name="breed">
      <option value="beagle">Beagle</option>
      <option value="collie">Border Collie</option>
      <option value="chihuahua">Chihuahua</option>
      <option value="shepherd">German Shepherd</option>
      <option value="labrador">Labrador</option>
      <option value="poodle">Poodle</option>
      <option value="pug">Pug</option>
      <option value="schnauzer">Schnauzer</option>
    </select>
    Dog bio: <input type="text" name="bio">
    Dog picture URL: <input type="text" name="profilePic">
   <button>Signup Dog</button>
</form>