<h3>Find walkers for your dogs and dogs for your walking!</h1>
<div class="row">
  <div class="six columns">
    <a href="/signupwalker">
      <img src="https://placeimg.com/400/500/people">
    </a>
  </div>
  <div class="six columns">
    <a href="/signupdog">
      <img src="https://placedog.net/400/500">
    </a>
  </div>
</div>

