 {{#if is_walker}}
    <div class="row">
      {{> profile}}
    </div>  
    <div class="row">
      <h4>View all dogs</h4>
      {{> dogLinks}}
    </div> 
  {{else}}
    <div class="row">
      {{> dogProfile}}
    </div> 
    <div class="row">
      {{> profile}}
    </div>  
{{/if}}