 {{#if userData.isWalker}}
    <div class="row">
      <div class="six columns">
        {{> profile}}
      </div>
      <div class="six columns">
        {{> dogLinks}}
      </div>
    </div> 
    <a href="/" class="back-link"><i class="fa fa-home"></i> Back To Home</a>
  {{else}}
    <div class="row">
      <div class="six columns">
        {{> dogProfile}}
      </div>
      <div class="six columns">
        {{> profile}}
      </div>
    </div>  
{{/if}}