<h3>Sign up to become a dog walker!</h3>
<form action="/signupWalker" method="post">

    Name: <input type="text" name="name">
    Email:  <input type="email" name="email">
    Location:
    <select name="location">
      <option value="cbd">City Centre</option>
      <option value="north">North Shore</option>
      <option value="east">East Auckland</option>
      <option value="south">South Auckland</option>
      <option value="west">West Auckland</option>
    </select>
    Experience:
    <select name="experience">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select> 
    <input type="hidden" name="is_walker" value="true">
   <button>Become a Walker</button>
</form>