<h3>Sign up to become a dog walker!</h3>
<div class="row">
  <div class="seven columns signup-form">
    <form action="/signupWalker" method="post">
      <label>Name:</label><input type="text" name="name"><br>
      <label for="username">Username</label><input type="text" name="username"><br>
      <label for="hash">Password</label><input type="password" name="password"><br>
      <label>Email:</label><input type="email" name="email"><br>
      <label>Location:</label>
      <select name="location">
        <option value="cbd">City Centre</option>
        <option value="north">North Shore</option>
        <option value="east">East Auckland</option>
        <option value="south">South Auckland</option>
        <option value="west">West Auckland</option>
      </select><br>
      <label>Experience:</label>
      <select name="experience">
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
      </select><br>
      <label>Profile picture:</label><input type="text" name="profilePic"><br>
      <input type="hidden" name="is_walker" value="1">
      <button><i class="fa fa-walking"></i> Become a Walker</button>
    </form>
    <a href="/" class="back-link"><i class="fa fa-home"></i> Back To Home</a>
  </div>
  <div class="five columns signup-img-container">
    <img src="/images/new-user-illustration.png" class="signup-img">
  </div>
</div>